$color-white : #ffffff;
$color-black : #000;
$color-text:#333;
$color-shadow: rgba(0, 0, 0, 0.2);
$color-primary: #B0BCC2;
$color-666:#666;
$background-footer-1:#262626;
$color-border-footer: #454747;  
$color-footer-background-on-bottom: #222121;