.header {
  font-weight: 400; }
  .header__wrapper {
    display: flex;
    padding: 3.2rem 6rem; }
  .header__logo-primary {
    width: 17%; }
  .header__menu {
    display: flex;
    width: 35%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0; }
    .header__menu-item {
      list-style: none;
      position: relative; }
      .header__menu-item-link {
        font-size: 1.8rem;
        color: #000;
        text-decoration: none;
        padding-bottom: 3px;
        transition: border 0.1s; }
        .header__menu-item-link:hover {
          border-bottom: 2px solid #000; }
        .header__menu-item-link--active {
          border-bottom: 2px solid #000; }
      .header__menu-item__sub-menu {
        position: absolute;
        top: calc( 100% + 7px);
        left: 0;
        margin-bottom: 0;
        width: 22.2rem;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        padding: 1.5rem 0;
        display: none;
        animation: animated-up-down linear 0.5s;
        z-index: 2;
        background: #ffffff; }
        .header__menu-item__sub-menu li {
          list-style: none; }
          .header__menu-item__sub-menu li a {
            font-size: 1.7rem;
            font-weight: 400;
            color: #000;
            padding: 0.5rem 0 0.5rem 1.3rem;
            display: block;
            text-transform: capitalize; }
      .header__menu-item:hover .header__menu-item__sub-menu {
        display: block; }
      .header__menu-item:nth-child(2)::after {
        content: "";
        position: absolute;
        top: calc(100% + 3px);
        left: 0;
        width: 4rem;
        height: 1.3rem; }
  .header__login {
    display: flex;
    width: 24%;
    justify-content: flex-end;
    align-items: center; }
    .header__login-user {
      font-size: 1.8rem;
      color: #000;
      text-decoration: none; }
    .header__login-register {
      margin-right: 1rem; }
    .header__login-sign-in {
      color: #666; }
      .header__login-sign-in:hover {
        color: #666; }
  .header__directional {
    display: flex;
    width: 24%;
    justify-content: flex-end;
    align-items: center; }
    .header__directional-icon {
      cursor: pointer;
      text-align: center;
      margin-left: 1.5rem;
      position: relative; }
      .header__directional-icon-wrapper {
        padding: 0.5rem; }
      .header__directional-icon-number-card {
        position: absolute;
        width: 1.8rem;
        height: 1.8rem;
        line-height: 1.5rem;
        background: #ffffff;
        top: 50%;
        left: -0.4rem;
        border: 2px solid #B0BCC2;
        border-radius: 100rem;
        font-size: 1rem;
        font-weight: 500; }
  .header__abs {
    background: #B0BCC2;
    height: 5.2rem;
    width: 100%;
    padding: 0 6rem; }
    .header__abs-wrapper {
      width: 33.33333%;
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      color: #ffffff; }
      .header__abs-wrapper-img {
        width: 3rem;
        height: 3rem;
        margin-right: 1.5rem; }
      .header__abs-wrapper-img-free-ship {
        width: 3.4rem;
        height: 1.8rem; }
      .header__abs-wrapper-img-voucher {
        width: 2.9rem;
        height: 2.7rem; }
      .header__abs-wrapper-img-sale {
        width: 3.2rem;
        height: 3.2rem; }
    .header__abs-free-ship {
      justify-content: flex-start !important; }
    .header__abs-voucher {
      justify-content: center !important; }
    .header__abs-sales {
      justify-content: flex-end !important; }

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: roboto; }

a:hover {
  text-decoration: none !important;
  color: unset !important; }

@keyframes animated-up-down {
  0% {
    transform: translateY(2rem); }
  100% {
    transform: translateY(0); } }
@keyframes tht {
  20% {
    opacity: 0.2;
    transform: scale(4rem);
    color: blue; }
  40% {
    opacity: 0.4;
    transform: scale(3rem);
    color: green; }
  80% {
    opacity: 0.8;
    transform: scale(2rem);
    color: yellow; }
  100% {
    opacity: 1;
    transform: scale(1rem);
    color: violet; } }
.btn-btn {
  width: 100%;
  border: 2px solid #000;
  border-radius: 100rem;
  color: #000;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
  padding: 2rem 0;
  outline: none; }

.btn:focus {
  box-shadow: unset; }

.footer-wrapper-on-top {
  background: #262626;
  width: 100%; }
  .footer-wrapper-on-top .footer__submit {
    padding: 10rem 0;
    width: 100%; }
    .footer-wrapper-on-top .footer__submit-wrapper {
      position: relative;
      width: 100%; }
      .footer-wrapper-on-top .footer__submit-wrapper-input {
        padding: 1.8rem 0 1.5rem 2.5rem;
        background-color: transparent;
        border: 2px solid #454747;
        border-radius: 100rem;
        width: 100%; }
      .footer-wrapper-on-top .footer__submit-wrapper-input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.4);
        font-size: 1.4rem;
        font-weight: 550;
        letter-spacing: 0.1rem; }
      .footer-wrapper-on-top .footer__submit-wrapper-text {
        position: absolute;
        top: 0;
        right: 0;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        color: #ffffff;
        background: #B0BCC2;
        padding: 1.4rem 3rem;
        text-align: center;
        border-radius: 100rem; }
  .footer-wrapper-on-top .footer__line-in-table-heading {
    font-size: 2.5rem;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 6rem; }
  .footer-wrapper-on-top .footer__line-in-table ul li {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    list-style: none; }
  .footer-wrapper-on-top .footer__line-in-table ul li:not(:last-child) {
    padding-bottom: 2.5rem; }
.footer__bottom {
  background-color: #222121; }
  .footer__bottom-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4.5rem 0; }
    .footer__bottom-content .footer-bottom__wrapper {
      display: flex;
      align-items: center; }
      .footer__bottom-content .footer-bottom__wrapper-img {
        width: 2.5rem;
        height: 2.9rem;
        margin-right: 2rem; }
      .footer__bottom-content .footer-bottom__wrapper span {
        color: rgba(255, 255, 255, 0.6);
        font-size: 1.3rem; }
    .footer__bottom-content .footer-bottom__wrapper:hover span {
      color: white; }
  .footer__bottom-make {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.4rem;
    padding-bottom: 3.5rem; }
    .footer__bottom-make span {
      text-transform: capitalize;
      color: #9ceb95;
      transition: all 0.5s;
      cursor: pointer;
      animation: tht linear 5s infinite; }
    .footer__bottom-make span:hover {
      color: orangered; }

.section-on-top {
  margin-top: 3rem; }
  .section-on-top__heading {
    display: flex;
    align-items: center; }
    .section-on-top__heading h1 {
      font-size: 5rem;
      font-weight: 550;
      position: relative; }
    .section-on-top__heading h1::after {
      content: "";
      position: absolute;
      top: 66%;
      right: -7%;
      background: #B0BCC2;
      width: 0.8rem;
      height: 0.8rem; }
  .section-on-top__banner {
    width: 100%;
    height: 100%; }

.section-list-product {
  margin-top: 5rem;
  border-bottom: 2px solid #B0BCC2; }
  .section-list-product span {
    font-size: 1.6rem;
    color: #000;
    font-weight: 400;
    text-transform: capitalize; }

.section-product {
  margin-top: 3rem; }
  .section-product__product {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 550;
    color: #000; }
    .section-product__product img {
      width: 16.8rem;
      height: 22.1rem;
      margin-right: 3rem; }
  .section-product__price {
    color: #000;
    font-size: 1.8rem;
    font-weight: 550;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
  .section-product__quantity {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
    .section-product__quantity-number {
      width: 66%;
      border: 2px solid #EEF1F2;
      border-radius: 100rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 550;
      color: #000; }
      .section-product__quantity-number span {
        font-size: 1.6rem;
        color: #333;
        font-weight: 550;
        padding: 1.5rem 2rem;
        display: inline-block;
        cursor: pointer; }
  .section-product__total {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .section-product__total img {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer; }
    .section-product__total span {
      color: #000;
      font-size: 1.8rem;
      font-weight: 550; }

.section-update-product {
  background: #F9FBFB;
  margin: 2.5rem 0;
  padding: 4rem 3rem; }
  .section-update-product__input-code input {
    width: 100%;
    border: none;
    outline: none;
    padding: 2rem 0;
    border-bottom: 2px solid #B0BCC2;
    font-size: 1.4rem;
    background: #F9FBFB; }
  .section-update-product__input-code input::-webkit-input-placeholder {
    color: #000;
    font-size: 1.6rem;
    font-weight: 550;
    text-transform: uppercase; }
  .section-update-product button.btn-btn {
    width: 78%;
    padding: 1.5rem 0; }
    .section-update-product button.btn-btn--active {
      opacity: 0.5;
      float: right; }

.section-title {
  color: #000;
  font-size: 1.8rem;
  padding: 2.5rem 0; }

.section-check-radio {
  margin-top: 1rem;
  margin-bottom: 4rem; }
  .section-check-radio input {
    display: none;
    cursor: pointer; }
  .section-check-radio .label-radio-1 span {
    padding: 1rem 0 0;
    display: block;
    cursor: default;
    position: relative; }
  .section-check-radio .label-radio-1 span::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    min-width: 78%;
    background: #B0BCC2; }
  .section-check-radio label {
    position: relative;
    padding: 0 0 0 3rem;
    font-size: 1.3rem;
    font-weight: 500;
    opacity: 0.4;
    margin-bottom: 0;
    cursor: pointer; }
  .section-check-radio label::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 100rem;
    background: transparent; }
  .section-check-radio input:checked ~ label::after {
    border-color: #000; }
  .section-check-radio input:checked ~ label {
    opacity: 1; }

.section-product-cart-fill {
  font-size: 1.4rem;
  color: #838383;
  padding: 1.5rem 0;
  border-top: 1px solid #B0BCC2;
  border-bottom: 1px solid #B0BCC2; }
  .section-product-cart-fill__text {
    float: right; }

.section-money {
  font-size: 1.8rem;
  color: #000;
  font-weight: 550;
  margin: 3rem 0 8rem 0; }
  .section-money span {
    float: right; }

.section-btn-check-out {
  margin-bottom: 10rem; }
  .section-btn-check-out a {
    width: 25%;
    padding: 1.5rem 0; }

/*# sourceMappingURL=shopping-cart.css.map */
