
.label {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0;
    float: right;
    padding: 2rem 3rem 2rem 0;

}

.input {
    border: none;
    outline: none;
    border-bottom: 2px solid $color-primary;
    font-size: 1.4rem;
    height: 2rem;
    padding: 2rem 0;
}
