@media  (min-width:769px ) and (max-width:991px) {
    html{
        font-size: 62.5%;
    }
    
    .header {
        &__logo-primary {
            width: 35%;
        }

        &__menu {
            width: 50%;
        }

        &__directional {
            width:15%;
        }


        &__wrapper {
            display: inline-flex;
            padding: 2.5rem 0.5rem;
        }
        &__login {
            display: none;
        }
    }

    
}